node_modules
coverage
dist
.DS_Store

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock

# cypress recordings during a test run are temporary files
/cypress/videos/
/cypress/screenshots/
